.liveStreaming {
  margin-right: 250px;
}
.zzHlKp_IVmgXBPV3Jv58 {
  height: 0;
}
.D9WLyEQaARfWqCTyVrpU {
  margin-right: 450px;
}
@media screen and (min-width: 826px) {
  .sCsSbKP9yxvw4LQAeaTz {
    overflow-x: hidden;
    width: 75%;
  }
}
